@charset "UTF-8";
:root {
  --accent-color: #c9171e;
  --black-color: #333;
  --blue-color: #00a6c4;
  --brown-color: #a28d69;
  --white-color: #ecece7;
}

:root {
  --z-index-back: -1;
  --z-index-default: 0;
  --z-index-header: 50;
  --z-index-menu: 100;
  --z-index-modal: 200;
}

:root {
  /* コンテンツ幅管理用の変数 */
  --content-width-sm: 800px;
  --content-width: 936px;
  --content-width-lg: 1080px;
}

/* ------------------------ */
/* --------- base --------- */
/* ------------------------ */
body {
  background: var(--white-color);
  color: var(--black-color);
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.7;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

/* アニメーション */
#loading {
  background-color: var(--white-color);
  position: fixed;
  inset: 0;
  z-index: 9999;
  place-items: center;
}

#loading-screen {
  background-color: var(--brown-color);
  position: fixed;
  inset: 0;
  z-index: 9999;
  translate: 0 100vh;
}

#loading p {
  font-size: clamp(4rem, 17vw, 4rem);
  font-weight: bold;
  font-family: "Vujahday Script", cursive;
  color: var(--brown-color);
  text-align: center;
}

.loading_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.sk-circle {
  width: 80px;
  height: 80px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: var(--black-color);
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ------------------------- */
/* --------- layout -------- */
/* ------------------------- */
.l_container,
.l_container-sm,
.l_container-lg {
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

.l_container {
  max-width: calc(var(--content-width) + 32px);
}

.l_container-sm {
  max-width: calc(var(--content-width-sm) + 32px);
}
.l_container-lg {
  max-width: calc(var(--content-width-lg) + 32px);
}

.l_contents {
  padding-bottom: 96px;
}

/*  l_header */
.l_header {
  background-color: var(--brown-color);
  position: sticky;
  top: 0;
  left: 0;
  z-index: var(--z-index-header);
}

.l_header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem clamp(1.5rem, 6.4vw, 3.5rem);
}

.l_header-logo {
  width: clamp(3rem, 12.8vw, 4.5rem);
}

.l_header-logo_icon {
  border-radius: 50%;
  box-shadow: 0 0 1px var(--white-color);
}

.l_header-nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.l_header-nav_item {
  font-size: clamp(0.8rem, 2.9vw, 1.5rem);
  color: var(--white-color);
  font-weight: bold;
  font-family: "Vujahday Script", cursive;
}

.l_header-logo_link {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .l_header-nav_list {
    gap: 56px;
  }
}

@media screen and (min-width: 1080px) {
  .l_header-logo:hover {
    opacity: 0.9;
  }
  .l_header-nav_list {
    gap: 88px;
  }

  .l_header-nav_item:hover {
    opacity: 0.7;
  }
}

/* l_footer */
.l_footer {
  position: sticky;
  bottom: 0;
  left: 0;
  border: 1px solid var(--brown-color);
  background-color: var(--brown-color);
  text-align: center;
  padding: 1rem;
  height: 100px;
  font-size: clamp(1rem, 4.2vw, 1.5rem);
}

.l_footer_copyright {
  color: var(--white-color);
  font-weight: bold;
  display: block;
  margin-top: 0.5rem;
}

@media screen and (min-width: 1080px) {
  .l_footer {
    position: static;
    height: 120px;
  }
}

/* ------------------------- */
/* --------- module -------- */
/* ------------------------- */

/* section */
.m_section_title {
  text-align: center;
  color: var(--accent-color);
  font-family: "Vujahday Script", cursive;
  font-size: clamp(4rem, 17vw, 6rem);
  font-weight: bold;
}

/* sns footer */
.m_sns_link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.m_sns-icon {
  width: 40px;
  display: block;
}

@media screen and (min-width: 1080px) {
  .m_sns_link-wrapper {
    gap: 32px;
  }
  .m_sns-icon {
    width: 48px;
  }
  .m_sns-icon:hover {
    opacity: 0.7;
    transform: scale(120%);
  }
}

/*pagetop_btn*/
.m_pagetop_button {
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 120px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.3s;
  background: var(--accent-color);
  z-index: var(--z-index-modal);
  box-shadow: 0 0 10px var(--brown-color);
  /*   デフォルトは非表示 */
  /* opacity: 0; */
}

.m_pagetop_button::before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid var(--white-color);
  border-left: 2px solid var(--white-color);
  transform: translate(-50%, -30%) rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
}

@media screen and (min-width: 1080px) {
  .m_pagetop_button {
    display: none;
  }
  .m_pagetop_button:hover {
    box-shadow: 0 0 10px var(--brown-color);
  }
}

/* button */
.m_button {
  position: relative;
}

.m_button::before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid var(--white-color);
  border-right: 2px solid var(--white-color);
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 10%;
}
.m_button_link {
  background-color: var(--brown-color);
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  height: 70px;
  letter-spacing: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.m_button_link::after {
  content: "";
  margin-left: -0.5rem;
  display: block;
}

@media screen and (min-width: 768px) {
  .m_button_link {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1080px) {
  .m_button:hover {
    opacity: 0.7;
  }
  .m_button_link {
    font-size: 1.5rem;
    letter-spacing: 1rem;
  }
  .m_button_link::after {
    content: "";
    display: block;
    margin-left: -1rem;
  }
}

/* ----------------------------- */
/* ---------- utility ---------- */
/* ----------------------------- */

/* ------------------------------ */
/* ------------- mv ------------- */
/* ------------------------------ */
.mv {
  background: url(../img/yuki_circle.png) no-repeat center center/300px 300px;
  /* headerの高さ66とfooterの高さ100ひいてる */
  height: calc(100vh - 160px);
  min-height: -webkit-fill-available;
}

.mv_inner {
  height: 100%;
  position: relative;
  left: 0;
}

.mv_content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mv_content-name {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}

.mv_content-txt {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 1080px) {
  .mv {
    background: url(../img/yuki_circle.png) no-repeat center center/400px 400px;
    height: calc(100vh - 100px);
  }
  .mv_content-name {
    font-size: 4rem;
    font-weight: bold;
  }
  .mv_content-txt {
    font-size: 1.8rem;
  }
}
/* --------------------------- */
/* ---------- works ---------- */
/* --------------------------- */
.works_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 32px;
}

.works_item:not(:first-child) {
  margin-top: 56px;
}

.works_item_data {
  font-weight: bold;
  margin-top: 8px;
}

.works_item_channel-name {
  font-size: clamp(1rem, 4.2vw, 1.2rem);
  color: var(--brown-color);
  font-weight: bold;
}

.works_item_link {
  width: 100%;
}

.works_button {
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;
}

.works_button:first-of-type {
  margin-top: 80px;
}

.works_button:not(:first-of-type) {
  margin-top: 32px;
}

.works_button_link {
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

@media screen and (min-width: 500px) {
  iframe {
    width: 400px;
    height: 225px;
  }
}

@media screen and (min-width: 768px) {
  .works_list {
    align-items: flex-start;
    flex-direction: row;
    gap: 56px 24px;
  }

  .works_item:not(:first-child) {
    margin-top: 0;
  }
  .works_button_link {
    letter-spacing: 0.1em;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 856px) {
  .works_button {
    max-width: 824px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .works_button_link {
    letter-spacing: 0.3em;
    font-size: 2rem;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1080px) {
  .works_item_link:hover {
    opacity: 0.7;
  }
}

/* -------------------------- */
/* ----------about ---------- */
/* -------------------------- */
.about_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 16px;
}

.about_yuki-img {
  aspect-ratio: 600/600;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.about_profile-content {
  margin-top: 16px;
}

.about_job {
  font-size: 1rem;
  font-weight: bold;
}

.about_name {
  font-size: 2rem;
  font-weight: bold;
}

.about_copy {
  font-size: 1.2rem;
}

.about_profile-text {
  margin: 32px auto 0;
  text-align: left;
  width: 90%;
}

.about_description {
  line-height: 2.2;
}
.about_description-span {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about_current {
  margin-top: 16px;
  display: block;
}

.about_yuki-img {
  position: relative;
  z-index: var(--z-index-default);
}

.about_yuki-img::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--brown-color);
  z-index: var(--z-index-back);
  border-radius: 20px;
  position: absolute;
  top: -13px;
  right: -13px;
}

.about_button {
  margin-top: 32px;
}

@media screen and (min-width: 500px) {
  .about_yuki-img {
    width: 250px;
  }
}
@media screen and (min-width: 768px) {
  .about_yuki-img {
    width: 300px;
  }
  .about_profile-content {
    margin-top: 32px;
  }

  .about_job {
    font-size: 1.4rem;
    font-weight: bold;
  }

  .about_name {
    font-size: 2.4rem;
    font-weight: bold;
  }

  .about_copy {
    margin-top: 0px;
    font-size: 1.6rem;
    white-space: nowrap;
  }

  .about_profile-text {
    font-size: 1.2rem;
  }

  .about_button {
    margin-top: 56px;
  }
}

@media screen and (min-width: 1080px) {
  .about_profile {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 56px;
    margin-top: 0;
  }

  .about_profile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 16px;
  }

  .about_copy {
    margin-top: 0px;
    white-space: nowrap;
  }

  .about_profile-text {
    margin-top: 0px;
  }
}

/* ----------------------------- */
/* ---------- contact ---------- */
/* ----------------------------- */
.contact_content {
  line-height: 2.2;
  text-align: center;
}

/* form  */
.contact {
  margin: 32px auto 0;
}

form {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.form_content {
  font-size: 1rem;
  font-weight: bold;
}

.form_content:not(:nth-child(1)) {
  margin-top: 16px;
}

.form_required {
  background-color: var(--accent-color);
  padding: 0 8px;
  border-radius: 100vh;
  margin-left: 16px;
  color: var(--white-color);
  font-size: 14px;
}

/* 、自動補完機能の候補の中から選択したときのみ
背景色が白くなり、自動補完機能を使わず手入力した場合は
、背景色は白くなりません。のとき */
input:-webkit-autofill {
  box-shadow: 0 0 0px 100px var(--white-color) inset;
  -webkit-text-fill-color: var(--black-color) !important;
}

.form_name-area,
.form_email-area,
.form_message-area {
  border: 3px solid var(--brown-color);
  padding: 8px;
  margin-top: 8px;
  width: 100%;
}

.form_name-area,
.form_email-area,
.form_message-area:focus {
  outline: none;
}

.form_textarea {
  overflow: scroll;
}

.form_submit-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .contact_content {
    font-size: 1.2rem;
  }

  .contact_content br {
    display: none;
  }
  .form_content {
    font-size: 1.2rem;
  }

  .form_submit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
  }
}

/* --------------------------- */
/* ---------- thanks --------- */
/* --------------------------- */
.thanks_body {
  background-color: var(--white-color);
}

.thanks {
  height: 100vh;
}

.thank_title {
  padding-top: 2rem;
}

.thanks_body_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.thanks_content {
  margin-top: 2rem;
  font-size: clamp(1rem, 4.2vw, 1.3rem);
}

.thanks_img {
  width: 6.25rem;
  flex-shrink: 0;
}

.thanks_button-wrapper {
  margin: 3.5rem auto 0;
  width: 80%;
}

@media screen and (min-width: 415px) {
  .thanks_img {
    width: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .thanks_body_flex {
    align-items: flex-end;
    flex-direction: row;
    gap: 32px;
  }
  .thanks_button-wrapper {
    margin: 5rem auto 0;
  }
  .thanks_img {
    width: 10rem;
  }
}
